@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(217, 19%, 24%);
  font-family: 'Manrope', sans-serif;
  font-size: 28px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container {
  width: min(90vw, 450px);
  background-color: hsl(217, 19%, 38%);
  color: hsl(193, 38%, 86%);
  text-align: center;
  padding: 3rem;
  border-radius: 20px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 14px;
  letter-spacing: 4px;
  color: hsl(150, 100%, 66%);
}

p {
  margin: 2rem 0;
}

#dice {
  background-color: hsl(150, 100%, 66%);
  background-image: url('./images/icon-dice.svg');
  background-position: center;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  position: relative;
  top: -1.5rem;
  cursor: pointer;
}

#dice:hover {
  box-shadow: 2px 2px 20px hsla(150, 100%, 66%, 1);
}

#pattern {
  width: 20rem;
}
.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
}
.attribution a {
  color: hsl(150, 100%, 66%);
  text-decoration: none;
  font-size: 16px;
}
